/*
 *	Description:    Base element stylesheet
 *	File:    		_root.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

html{
    font-family: $fontStack;
    font-size: 10px;
}
body{
    background-color: $white;
    &::before {
        content: "";
        font-size: 100px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $navFilter;
        z-index: 2;
        transform-origin: right;
        transform: translateY( -100% );
        transition: $mainTrans;
    }
    &.nav-open::before {
        transform: translateY( 0% );
    }
}
p{
    line-height: 1.6;
    margin-bottom: 1em;
    &:last-of-type{
        margin-bottom: 0;
    }
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
    outline: 0;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
    &:focus{
        outline: .1rem solid $secondary;
    }
}

// ******** Global class center content ********
.center{
    text-align: center;
}
// ******** Global class container ********
.pageWrap{
    padding: 0 2rem 2rem;
}
// ******** Global class flex ********
.flex{
    &-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    &-reverse{
        flex-direction: row-reverse;
    }
}

// ******** Global class icon ********
.icon{
    &-link{
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        margin-left: 0.5rem;
        background-image: url(/img/icons/icons.png);
        background-position: -.1rem -10.8rem;
        background-repeat: no-repeat;
    }
}

// ******** Box sizing ********
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
