/*
 *	Description:    Base element stylesheet
 *	File:    		_root.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

html{
    font-family: $fontStack;
    font-size: 10px;
}
body{
    background-color: $white;
}
p{
    line-height: 1.6;
    margin-bottom: 1em;
    &:last-of-type{
        margin-bottom: 0;
    }
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
    :hover{
        color: inherit;
        text-decoration: none;
    }
}

// ******** Global class center content ********
.center{
    text-align: center;
}
// ******** Global class container ********
.pageWrap{
    padding: 0 2rem 2rem;
}

// ******** Box sizing ********
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
