/*
 *	Description:    Stylesheet for 1280px and up screen
 *	File:    		1280up.scss
 *	Version:        1.0 - 10/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Main Navigation ********
.mainNav{
	&__elt{
		&:hover::before{
			transform: scaleY( 1 );
			background-color: $primaryDark;
		}
		&--login{
			&:hover{
				background-color: $secondary;
			}
		}
	}
	&__dropdown{
		&:hover > .mainNav__subList{
			transform: scaleY( 1 );
			opacity: 1;
		}
		&:hover .mainNav__dropdownButton::after{
			transform-origin: center;
			transform: rotateX( 180deg );
		}
	}
	&__subList{
		&:hover::before{
			transform: scale(1, 1);
		}
	}
}

// ******** Buttons ********
.button{
	&:hover{
		color: $white;
		background-color: $primary;
		border-color: $primaryDark;
	}
}