/*
 *	Description:    Stylesheet for 1280px and up screen
 *	File:    		1280up.scss
 *	Version:        1.0 - 10/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Home banner ********
.banner{
	height: 35rem;
}

// ******** Game card ********
.gameCard{
	width: 30%;
	margin-right: 2rem;
	&:nth-child(3n+0){
		margin-right: 0;
	}
}

// ******** Game card ********
.resultCard{
	width: 30%;
	margin-right: 2rem;
	&:nth-child(3n+0){
		margin-right: 0;
	}
}

// ******** Game card ********
.eventCard{
	width: 30%;
	margin-right: 2rem;
	&:nth-child(3n+0){
		margin-right: 0;
	}
	&:hover .eventCard-header {
	    transform: translateY(-355%);
	}
}

// ******** ID Card ********
.idCard{
	&-title{
		@include font-size(2.4);
	}
	&-subTitle{
		@include font-size(2);
	}
	&-mail, &-phone, &-role{
		@include font-size(1.6);
		&:before{
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

// ******** Buttons ********
.button{
	&:hover{
		color: $white;
		background-color: $primary;
		border-color: $primaryDark;
	}
}