/*
 *	Description:    Stylesheet for 1280px and up screen
 *	File:    		1280up.scss
 *	Version:        1.0 - 10/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Home banner ********
.banner{
	height: 35rem;
}

// ******** Buttons ********
.button{
	&:hover{
		color: $white;
		background-color: $primary;
		border-color: $primaryDark;
	}
}