/*
 *	Description:    Stylesheet for 1480px and up screen
 *	File:    		1480up.scss
 *	Version:        1.0 - ***
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Banner ********
.banner{
	height: 40rem;
}

// ******** ID Card ********
.idCard{
	&-photo, &-link{
		width: 32%;
	}
}

// ******** Game card ********
.gameCard{
	width: 30%;
	margin-right: 2rem;
	&:nth-child(3n+0){
		margin-right: 0;
	}
}

// ******** Section ********
.section{
	&-content{
	    max-width: 144rem;
	    margin: 0 auto;
	}
}

