/*
 *	Description:    Stylesheet for 768px and up screen
 *	File:    		768up.scss
 *	Version:        1.0 - ***
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/
// ******** Home banner ********
.banner{
	height: 23rem;
}

// ******** Global class flex ********
.flex-elt{
	width: 47.5%;
}

// ******** Buttons ********
.button{
	display: inline-block;
	width: auto;
	&:last-child{
		margin-right: 0;
	}
	& + .button{
		margin-left: 2rem;
	}
}

// ******** diCard ********
.idCard{
	margin-left: 0;
}