/*
 *	Description:    Stylesheet for 768px and up screen
 *	File:    		768up.scss
 *	Version:        1.0 - ***
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/
// ******** Home banner ********
.banner{
	height: 23rem;
}

// ******** Game card ********
.gameCard{
	width: 47.5%;
	&:nth-child(2n+1){
		margin-right: 2rem;
	}
}

// ******** Event card ********
.eventCard{
	width: 47.5%;
	&:nth-child(2n+1){
		margin-right: 2rem;
	}
}

// ******** Album Card ********
.albumCard{
	&-wrap{
		width: 30%;
		margin-right: 2rem;
		margin-bottom: 0;
	}
	&:nth-child(3n+0){
		margin-right: 0;
	}
}

// ******** ID Card ********
.idCard{
	margin-left: 0;
}

// ******** Buttons ********
.button{
	display: inline-block;
	width: auto;
	&:last-child{
		margin-right: 0;
	}
	& + .button{
		margin-left: 2rem;
	}
}