/*
 *	Description:    Stylesheet for 980px and up screen
 *	File:    		980up.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Navigation ********
.nav{
	.nav-item{
		& a:hover::before, .sub-nav-item a:hover::before{
			transform: scaleX(1);
		}
	}
}

// ******** Home banner ********
.banner{
	height: 30rem;
}

// ******** Game card ********
.gameCard{
	width: 30%;
}

// ******** idCard ********
.idCard{
	&__wrap{
		@include grid( 2, 3% );
	}
}