/*
 *	Description:    Stylesheet for 980px and up screen
 *	File:    		980up.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Navigation ********
.nav{
	.nav-item{
		& a:hover::before, .sub-nav-item a:hover::before{
			transform: scaleX(1);
		}
	}
}
// ******** Section ********
.section-col{
	
}

// ******** Home banner ********
.banner{
	height: 30rem;
}

// ******** Game card ********
.gameCard{
	width: 100%;
}

// ******** Game card ********
.resultCard{
	width: 100%;
}

// ******** Event Card ********
.eventCard{
	width: 100%;
	&:hover{
		.eventCard-header{
			transform: translateY(-416%);
		}
		.eventCard-img{
			transform: translateY(-100%);
		}
	}
}

// ******** Albums ********
.album{
	&-photo{
		width: 30%;
		margin-right: 2rem;
		&:nth-child(3n+0){
			margin-right: 0;
		}
	}
	&Card{
		&-wrap{
			width: 30%;
			margin-right: 2rem;
			&:hover{
				& .albumCard-title{
					transform: translateY(-4.5rem);
				}
			}
		}
		&:nth-child(3n+0){
			margin-right: 0;
		}
	}
}

// ******** idCard ********
.section-col .idCard{
	width: 100%;
}
.idCard{
	width: 48%;
	&:nth-child(2n+1){
		margin-right: 2rem;
	}
	&:hover{
		background-color: $primary;
		border-color: $primaryDark;
		.idCard-content{
			color: $white;
		}
		.idCard-link{
			opacity: 1;
		}
		.idCard-phone{
			&:before{
				background-image: url(/img/icons/phone-icon-white.png);
			}
		}
		.idCard-mail{
			&:before{
				background-image: url("/img/icons/mail-icon-white.png");
			}
		}
	}
	&-photo{
		width: 35%;
	}
	&-link{
		width: 35%;
	}
}

// ******** Tables ********
.table{
	&-players{
		.table-row{
			&:hover{
				background-color: $primary;
				.table-data{
					color: $transparent;
					transition: $mainTrans;
				}
				.table-link{
					color: $white;
				}
				.table-more-infos{
					opacity: 1;
					transition: $delayTrans;
				}
			}
		}
	}
}

// ******** inner nav ********
.inner-nav{
	&-link:hover{
		background-color: $white;
	}
}