/*
 *	Description:    Stylesheet for buttons
 *	File:    		_buttons.scss
 *	Version:        1.0 - 09/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.button{
	@include font-size( 1.2 )
	display: block;
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	border: .1rem solid $transparent;
	transition: $mainTrans;
	& + .button{
		margin-top: 2rem;
	}
	&-wrap{
		position: relative;
		display: block;
		width: 100%;
		padding: 0 5%;
		&-center{
			text-align: center;
		}
		&-left{
			text-align: left;
		}
		&-right{
			text-align: right;
		}
	}
	&-primary{
		color: $white;
		background-color: $secondary;
		border: .1rem solid $secondaryDark;
	}
	&-secondary{
		color: $secondaryDark;
		background-color: $transparent;
		border: .1rem solid $secondaryDark;
	}
	&--tertiary{
		color: $black;
		background-color: $transparent;
		border: .1rem solid $primaryDark;
	}
}