/*
 *	Description:    Stylesheet for buttons
 *	File:    		_buttons.scss
 *	Version:        1.0 - 09/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.button{
	@include font-size( 1.2 )
	display: block;
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	text-align: center;
	text-transform: uppercase;
	border: .1rem solid $transparent;
	transition: $mainTrans;
	& + .button{
		margin-top: 2rem;
	}
	&-wrap{
		position: relative;
		display: block;
		width: 100%;
		padding: 0 5%;
		&-center{
			text-align: center;
		}
		&-left{
			text-align: left;
		}
		&-right{
			text-align: right;
		}
	}
	&-primary{
		color: $white;
		background-color: $secondary;
		border: .1rem solid $secondaryDark;
	}
	&-secondary{
		color: $secondaryDark;
		background-color: $transparent;
		border: .1rem solid $secondaryDark;
	}
	&--tertiary{
		color: $black;
		background-color: $transparent;
		border: .1rem solid $primaryDark;
	}
	&-more{
		@include font-size(1.6);
		position: relative;
		color: $primaryDark;
		font-weight: $semiBold;
		border: 0;
		&:after{
			content: "";
			position: absolute;
			left: 50%;
			display: block;
			width: 3rem;
			height: 1.5rem;
			background-image: url(/img/icons/icons.png);
			background-repeat: no-repeat;
			transform: translateX(-50%);
		}
		&-prev{
			position: absolute;
			top: 4rem;
			left: 50%;
			transform: translateX(-50%);
			&:after{
				top: -50%;
				background-position: -5.7rem -1.7rem;
			}
		}
		&-next{
			&:after{
				top: 100%;
				background-position: -5.7rem -.1rem;
			}
		}
	}
}