/*
 *	Description:    Stylesheet for buttons
 *	File:    		_buttons.scss
 *	Version:        1.0 - 09/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.button{
	@include font-size( 1.8 )
	display: block;
	width: 100%;
	margin: 0;
	margin-top: 1rem;
	padding: 1rem 2rem;
	transition: $mainTrans;
	&__wrap{
		position: relative;
		display: block;
		width: 100%;
		&--center{
			text-align: center;
		}
	}
	&--primary{
		color: $white;
		background-color: $secondary;
		border: .1rem solid $secondaryDark;
	}
	&--secondary{
		color: $black;
		background-color: $transparent;
		border: .1rem solid $secondaryDark;
	}
}