/*
 *	Description:    Stylesheet for the identity cards
 *	File:    		_idCard.scss
 *	Version:        1.0 - 01/06/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.idCard{
	position: relative;
	display: flex;
	align-items: flex-start;
    width: 100%;
    min-width: 28.8rem;
    max-width: 60rem;
	margin-bottom: 2rem;
	background-color: $blue;
	border: .1rem solid $gameCardBorder;
	transition: $mainTrans;
	&-photo{
		display: block;
		width: 32%;
		max-width: 20rem;
		height: auto;
	}
	&-content{
		display: inline-block;
		width: 100%;
		padding: 1.5rem;
		color: $black;
		transition: $mainTrans;
	}
	&-title{
		@include font-size(2);
		margin-bottom: .5rem;
		font-weight: $bold;
	}
	&-subTitle{
		@include font-size(1.4);
		margin-bottom: 0;
		font-weight: $semiBold;
	}
	&-roles{
		margin-bottom: 1rem;
	}
	&-phone, &-mail, &-role{
		@include font-size(1.2);
		line-height: 1.6;
		margin-bottom: 0;
	}
	&-phone, &-mail{
		display: block;
		&:before{
			content: '';
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin-right: .5rem;
			background-image: url(/img/icons/icons.png);
			background-repeat: no-repeat;
		}
	}
	&-role{
		display: inline-block;
		&:after{
			content: ',';
			padding-right: .3rem;
		}
		&:last-child:after{
			content: '';
		}
	}
	&-phone{
		&:before{
			background-position: -.1rem -7.1rem;
		}
	}
	&-mail{
		&:before{
			background-position: -.1rem -5.5rem;
		}
	}
	&-link{
		@include font-size( 1.2 );
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 32%;
		max-width: 20rem;
		padding: 1rem 0;
		font-weight: $regular;
		text-align: center;
		color: $secondaryDark;
		background-color: $whiteTrans;
		opacity: 0;
		transition: $mainTrans;
		&::before{
			content: '';
			position: relative;
			top: .1rem;
			display: inline-block;
			width: 1rem;
			height: 1rem;
			background-image: url( "/img/icons/icons.png" );
			background-position: -.1rem -12.2rem;
			background-repeat: no-repeat;
		}
	}
}