/*
 *	Description:    Stylesheet for the inner navigation elements
 *	File:    		_innerNav.scss
 *	Version:        1.0 - 21/07/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.inner-nav{
	@include font-size(2);
	position: absolute;
    right: 5%;
    top: 4rem;
	max-width: 30rem;
	&-title{
		@include font-size(2.5);
		padding: 1.5rem;
		text-align: center;
		font-weight: $semiBold;
		color: $white;
		background-color: $primary;
	}
	&-list{
		overflow: auto;
    	background:
    		// Shadow covers
    		linear-gradient(white 30%, rgba(255,255,255,0)),
    		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    		// Shadows
    		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    	background-repeat: no-repeat;
    	background-color: white;
    	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    		// Opera doesn't support this in the shorthand
    	background-attachment: local, local, scroll, scroll;
	}
	&-item{

	}
	&-link{
		display: block;
		padding: 1.5rem;
		line-height: 1.6;
		color: $black;
		border: .1rem solid $blueDark;
		border-top: .1rem solid $transparent;
		background-color: $blue;
		transition: $mainTrans;
		&-active{
			background-color: $white;
		}
	}
	&.fix-aside{
        position: fixed;
        transform: translateY( 2rem );

    }
    & .fix-aside-bottom{
        position: absolute;
    }
}