/*
 *	Description:    Main navigation stylesheet
 *	File:    		_mainNav.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** No JS navigation ********
.nav{
	@include font-size(1.8);
	position: relative;
	.nav-menu{
		display: inline-block;
		margin-top: 9rem;
		padding-bottom: 4rem;
		background-color: $white;
		.nav-item{
			position: relative;
			a{
				display: block;
				padding: 1rem 4rem 1rem 2rem;
				color: $primaryDark;
				&.dropdown{
					display: none;
				}
			}
			& a::before, .sub-nav-item a::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				display: block;
				width: .5rem;
				background-color: $primaryDark;
				transition: $mainTrans;
				transform-origin: left;
				transform: scaleX(0);
			}
			&.active a{
				&::before{
					background-color: $secondary;
					transform: scaleY(1);
				}
				&:hover::before, &:focus::before{
					background-color: $primaryDark;
				}
			}
		}
		.sub-nav-item{
			position: relative;
		}
	}
}

// ******** Mobile navigation ********
.mobile.nav{
	height: 5rem;
	background-color: $white;
	box-shadow:  $mainShadow;
	line-height: 1;
	z-index: 10;
	.nav-menu{
		position: absolute;
		top: 5rem;
		right: 0;
		margin-top: 0;
		box-shadow: $navShadow;
		transition: $mainTrans;
		transform-origin: right;
		transform: translateY( -125% );
		opacity: 0;
		.nav-item{
			position: relative;
			a{
				display: block;
				padding: 1rem 4rem 1rem 2rem;
				color: $primaryDark;
				&.dropdown{
					display: none;
				}
			}
		}
		.nav-item-footer{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $primary;
			&-logout{
				bottom: -4rem;
			}
			a{
				color: $grey;
			}
		}
	}
	.nav-open .nav-menu{
		transform: translateY( 0% );
		opacity: 1;
	}
}

// ******** Desktop navigation ********
.desktop.nav{
	box-shadow: $mainShadow;
	.nav-menu{
		display: block;
		margin: 0 0 0 9.5rem;
		padding: 0;
		.nav-item{
	    	display: inline-block;
			a{
				display: block;
				padding: 3.1rem 1rem;
				&.dropdown{
					position: relative;
					display: block;
					padding: 3.1rem 4.5rem 3.1rem 1rem;
					transition: $transBurgerButton;
					cursor: pointer;
					&::after{
						content: "";
						position: absolute;
						right: 15%;
						top: 38%;
						display: block;
						width: 1.5rem;
						height: 1.8rem;
						margin-left: .5rem;
						background-image: url(/img/icons/arrowDropDown-blue.png);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						transition: $transBurgerButton;
					}
					&.open::after{
						transform-origin: center;
						transform: rotateX( 180deg );
					}
				}
				&::before{
					right: 0;
					width: 100%;
					height: .5rem;
					transition: $mainTrans;
					transform-origin: top;
					transform: scaleX(1) scaleY(0);
				}
				&:hover::before, &:focus::before{
					transform: scale(1) scaleY(1);
				}
			}
			&.active a::before{
				transform: scaleX(1) scaleY(1);
			}
		}
		.nav-item-auth{
			position: absolute;
			right: 0;
			background-color: $primary;
			a {
				color: $grey;
			}
			a.dropdown{
				padding-left: 1.5rem;
				&::after{
					background-image: url(/img/icons/arrowDropDown-white.png);
				}
			}
			.sub-nav{
				right: 0;
				&:before{
					right: 2rem;
					left: auto;
				}
			}
		}
		.sub-nav{
			position: absolute;
			top: 6.5rem;
			display: none;
			padding: 1rem 3rem 1rem 0;
			text-align: left;
			background-color: $blue;
			z-index: 1;
			&::before{
				content: "";
				position: absolute;
				top: -1.6rem;
				left: 2rem;
				display: block;
				width: 0;
				height: 0;
				border: .8rem solid transparent;
				border-bottom-color: $blue;
			}
			&.open{
				display: block;
			}
		}
		.sub-nav-item{
			a {
				padding: 1rem 4rem 1rem 2rem;
				color: $greyDark;
				&::before{
					bottom: 0;
					width: .5rem;
					height: 100%;
					transform-origin: left;
					transform: scaleX(0) scaleY(1);
				}
			}
			&.active a{
				&::before{
					background-color: $secondary;
					transform: scaleX(1) scaleY(1);
				}
				&:hover::before, &:focus::before{
					background-color: $primaryDark;
				}
			}
		}
	}
	.icon{
		&::after{
			content: "";
			position: absolute;
			left: 95%;
			top: 20%;
			display: block;
			width: 2rem;
			height: 1.8rem;
			margin-right: .5rem;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&-admin::after{
			background-image: url(/img/icons/admin-icon-grey.png);
		}
		&-trainer::after{
			background-image: url(/img/icons/trainer-icon-grey.png);
		}
		&-team::after{
			background-image: url(/img/icons/team-icon-grey.png);
		}
		&-rule::after{
			background-image: url(/img/icons/rules-icon-grey.png);
		}
		&-album::after{
			background-image: url(/img/icons/galery-icon-grey.png);
		}
		&-download::after{
			background-image: url(/img/icons/download-icon-grey.png);
		}
		&-profil::after{
			background-image: url(/img/icons/profil-icon-grey.png);
		}
		&-logout::after{
			top: 25%;
			background-image: url(/img/icons/logout-icon-grey.png);
		}
	}
}