/*
 *	Description:    Main style for the section element
 *	File:    		_section.scss
 *	Version:        1.0 - 09/07/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.section{
	margin-bottom: 4rem;
	&:first-child &-title{
		border-top: 0;
	}
	&-title{
		@include font-size(3);
		padding: 3rem;
		line-height: 1.6;
		text-align: center;
		font-weight: $bold;
		color: $primaryDark;
		background-color: $grey;
		border-top: .2rem solid $sectionBorder;
	}
	&-sub-title{
		@include font-size(3);
		padding-top: 2rem;
		color: $primaryDark;
		text-align: center;
	}
	&-no-content{
		@include font-size(2);
		padding: 1rem 1.5rem;
		color: $black;
		border: .1rem solid $blueDark;
	}
	&-icon{
		display: inline-block;
		width: 4rem;
		height: 2rem;
		margin-right: 1rem;
		background-position: center right;
		background-size: contain;
		background-repeat: no-repeat;
		&-games{
			background-image: url(/img/icons/calendar-icon-blue.png);
		}
		&-news{
			background-image: url(/img/icons/news-icon-blue.png);
		}
		&-sponsor{
			background-image: url(/img/icons/sponsor-icon-blue.png);
		}
		&-galery{
			background-image: url(/img/icons/galery-icon-blue.png);
		}
		&-ca{
			background-image: url(/img/icons/admin-icon-blue.png);
		}
		&-trainer{
			background-image: url(/img/icons/trainer-icon-blue.png);
		}
		&-team{
			background-image: url(/img/icons/team-icon-blue.png);
		}
		&-rule{
			background-image: url(/img/icons/rules-icon-blue.png);
		}
		&-result{
			background-image: url(/img/icons/result-icon-blue.png);
		}
		&-profil{
			background-image: url(/img/icons/profil-icon-blue.png);
		}
	}
	&-intro{
		@include font-size(2);
		display: block;
		width: 100%;
		max-width: 30em;
		margin: 0 auto 4rem;
		text-align: center;
		p{
			margin-bottom: 0.5rem;
		}
	}
	&-content{
		padding: 4rem 5%;
	}
	&-col{
		width: 100%;
		max-width: 60rem;
		margin-bottom: 4rem;
	}
}